 .logo img{
  border-radius: 0px;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom:10px;
 display: inline-block;
  }

.logo{
border-radius: 0px;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  margin-bottom:10px;
 display: inline-block;
     margin-left: 30px;

}
