<!DOCTYPE html>
<html>
<head>
  <title> Clean Surfing </title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <header>
      <div class="container1">
        <div class="logo">
         <img src="image/logo.png" alt="Clean Surfing">
      </div>
      <div class="container2">
          <a class="btn-blue"> SHOP </a>
          <a class="btn-transparent"> JOIN THE MOVEMENT </a>

        </div>
          </div>
    </header>

<div class="shops">
   <div class="shop">
      <img src="image/surfboard.jpeg" alt="Surfboard collection">
   </div>
   <div class="shop">
      <img src="image/wetsuit4.jpeg" alt="Wetsuit collection">
    </div>
    <div class="shop">
      <img src="image/sunglasses.jpeg" alt="Sunglasses collection">
    </div>
    <div class="shop">
      <img src="image/skate3.jpeg" alt="Skateboard collection">
    </div>
</div>


</body>
</html>
